<div class="ui inverted huge menu">
    <div class="ui container">
        <a class="item" href="/" , id ="home">
            Home
        </a>
        <a class="item" href = "/docs" id ="docs">
            Documentation
        </a>
        
    </div>
</div>